@model ProCateNimapInfoTech.Models.Product

@{
    ViewBag.Title = "CreateProduct";
}

<h2>CreateProduct</h2>

@using (Html.BeginForm("CreateProduct", "SimpleProductMaster"))
{
    <div style="font-family:Arial">
        

   


        <div class="form-horizontal">


            <div class="form-group">
                @Html.LabelFor(r => r.ProdctName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.EditorFor(r => r.ProdctName, new { htmlAttribute = new { @class = "form-control" } })
                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(r => r.Price, new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.EditorFor(r => r.Price, new { htmlAttribute = new { @class = "form-control" } })
                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(r => r.category.PK_CategoryId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @*@Html.EditorFor(r => r.category.PK_CategoryId, new { htmlAttribute = new { @class = "form-control" } })*@
                </div>

            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-group-sm btn-success">Create</button>
                </div>
            </div>

        </div>
    </div>
}
